body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
  }
  .project-description {
    line-height: 1.8; /* Adjust the line spacing */
    margin-bottom: 20px; /* Adds space after each paragraph */
  }
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ff6347;
  }
  
  section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 900px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  #home .intro {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #333;
  }
  
  .project {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #skills ul li {
    background: #333;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    transition: background 0.3s;
  }
  
  #skills ul li:hover {
    background: #ff6347;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input, form textarea, form button {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
  }
  
  form button {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  form button:hover {
    background: #ff6347;
  }
  
  #confirmation {
    text-align: center;
    padding: 20px;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 8px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    position: relative;
    width: 100%;
  }
  #moreText {
    display: none;
}

